/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
table {
  margin-bottom: 15px;
  width: 100%;
}
table thead {
  background: #c9dff0;
}
table thead tr th { 
  font-weight: 500;
  padding: 12px 30px;
  padding-left: 42px;
}
table thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
table tbody tr { 
  color: #555;
}
table tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
table tbody tr td.lalign {
  text-align: left;
}
.copyrights {
	padding-bottom: 15px;
}
	
.copyrights a:hover {
	text-decoration: none;
}
form textarea {
	min-height: 100px;
	width: 100%;
}
/* #Page Styles
================================================== */